*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    color: crimson;
    max-width: 80%;
    padding: 34px;
    margin: auto;
}

.container h1 {
    text-align: center;
    font-family: 'sriracha', cursive;
    font-size: 40px;
}

p{
    font-size: 17px;
    text-align: center;
    font-family: 'sriracha', cursive;
}

input ,textarea{
    display: block;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    width: 80%;
    margin: 7px auto;
    padding: 7px;
}

form{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.btn{
    color: white;
    background-color: crimson;
    padding: 5px 11px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}

.o{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 1.0;
}

.Submitmsg{
    color: rgb(216, 196, 19);
    font-family: 'sriracha', cursive;
}

.Submitmsg :hover{
    color: crimson;
    background: none;
}